.description{
    margin: 120px 140px;
}
.navigator{
    display: flex;
}
.nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d0d0d0;
    font-size: 16px;
    width: 171px;
    height: 70px;
    font-weight: 600;  
}
.nav-box.fade{
    background: #fbfbfb;
    color: #555;
}
.description-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 48px;
    padding-bottom: 70px;
    border: 1px solid #d0d0d0;  
}